

.lanwen2{
    /*蓝色底纹*/
    width: 100vw;/*宽度*/
    height: 5.32rem;/*高度*/
    background: url("../image/landiwen2.jpg");/*背景*/
    background-size: cover;/*背景大小*/
}

.logo_fuj2{
    /*logo&福建移动*/
    position: absolute;/*绝对定位*/
    top: .2rem;/*上边距*/
    left: .2rem;/*左边距*/
}

.logo2{
    width: .33rem;/*宽度*/
    height: .33rem;/*高度*/
    margin-right: .05rem;
}

.logo_fuj2>span{
    /*福建移动*/
    color: white;/*字体颜色*/
    font-size: .26rem;/*字体大小*/
}

.carnival{
    /*万圣节狂欢*/
    width: 3rem;/*宽度*/
    height: .7rem;/*高度*/
    color: white;/*字体颜色*/
    font-size: .36rem;/*字体大小*/
    border-radius:.35rem;/*圆角*/
    margin: .78rem 0 .3rem 2.25rem;/*外边距*/
    background-color: rgba(255,255,255,.1);/*透明色*/
}

.yibaill{
    /*100M流量*/
    width: 6.24rem;/*宽度*/
    margin-left: .63rem;/*左边距*/
}

.weibu{
    /*尾部*/
    width: 100vw;/*宽度*/
    height: .85rem;/*高度*/
    background: url("../image/lanwen_di2.jpg");/*背景*/
    background-size: cover;/*背景大小*/
    position: absolute;/*绝对定位*/
    top: 5.30rem;/*上边距*/
}

.floor_tel{
    width: 100%;/*宽度*/
    padding: 0 .47rem;/*左右边距*/
}

.phone{
    /*请输入福建移动手机号*/
    width: 100%;/*宽度*/
    height: 1rem;/*高度*/
    background-color: #f8f8f8;/*背景色*/
    border: 1px solid #e3e3e3;/*描边*/
    border-radius: 8px;/*圆角*/
    color: #b3b3b3;/*字体颜色*/
    font-size: .26rem;/*字体大小*/
    padding-left: .2rem;/*左边距*/
    margin: 1.49rem 0 .22rem;/*上边距*/
}

.yzm{
    /*请输入验证码*/
    width: 100%;/*宽度*/
    height: 1rem;/*高度*/
    background-color: #f8f8f8;/*背景色*/
    border: 1px solid #e3eaf0;/*描边*/
    border-radius: 8px;/*圆角*/
    color:#b3b3b3;/*字体颜色*/
    font-size: .26rem;/*字体大小*/
    padding-left: .2rem;/*左边距*/
    flex: 1;
    margin-right: .2rem;
}

.hqyzm{
    /*获取验证码*/
    height: 1rem;/*高度*/
    color: white;/*字体颜色*/
    font-size: .28rem;/*字体大小*/
    border-radius: 8px;/*圆角*/
    background-color: #fccc58;/*背景色*/
    box-shadow: inset 0 -5px 0 rgba(213,161,36,1) ;/*投影*/
}
.hqyzm:active{
    /*获取验证码 点击事件*/
    transform: scale(.98);
    -webkit-transform: scale(.98);
}

.hqyzm:disabled{
    /*禁止点击事件*/
    background-color: #999999;
    box-shadow: inset 0 0 0 rgba(213,161,36,1) ;/*投影*/
}


.now_btn{
    /*确认我的手机号码*/
    width: 6.86rem;/*宽度*/
    height: 1.04rem;/*高度*/
    border-radius: 1000px;/*圆角*/
    background-color: #469dff;/*背景色*/
    box-shadow: inset 0 -6px 0 rgba(53,138,235,1);/*内阴影*/
    margin: .42rem 0 .62rem;/*外边距*/
    position: relative;
    -webkit-appearance: button;
    border-style: none;
    font-size: .32rem;
}

.now_btn:disabled{
    /*禁止点击事件*/
    background-color: #849db9;/*背景色*/
    box-shadow: inset 0 0 0 rgba(53,138,235,1);/*内阴影*/
}

.now_btngg{
    /*高光*/
    width: .49rem;/*宽度*/
    position: absolute;/*绝对定位*/
    top: .1rem;/*上边距*/
    left: .2rem;/*左边距*/
}

.now_jiaz{
    /*加载*/
    width: .3rem;/*宽度*/
    height: .3rem;/*高度*/
    margin-right: .1rem;/*右边距*/
}

.confirm{
    /*确认我的手机号码*/
    color: white;/*字体颜色*/
    font-size: .32rem;/*字体大小*/
}

.wei{
    /*页脚*/
    margin: 0 .25rem;/*外边距*/
    border-top: 1px solid rgba(185,216,251,.43);/*颜色*/
}

.phone_hdgz{
    /*活动规则*/
    color: #849db9;/*字体颜色*/
    font-size: .26rem;/*字体大小*/
    padding: .44rem 0;/*内边距*/
}

.hdgz_nr>p{
    /*活动规则 内容*/
    color: #849db9;/*字体颜色*/
    font-size: .22rem;/*字体大小*/
    line-height: .45rem;/*间距*/
}






/*关注激活 开始*/
#Act_tanc{
    display: none;/*隐藏*/
}

.Activate{
    /*模糊层*/
    width: 100vw;/*宽度*/
    height: 100vh;/*高度*/
    background-color: rgba(0,0,0,.6);/*背景色*/
    position: fixed!important;/*绝对定位*/
    top: 0;
    left: 0;
}

.Act_1{
    /*底层宽度*/
    width: 6.62rem;/*宽度*/
    /*height: 6.42rem;*/
    position: relative;
    overflow: visible!important;
}

.quxiao{
    /*取消按钮*/
    width: .54rem;/*宽度*/
    position: absolute;
    top: -.78rem;
    left: 5.74rem;
}

.lanc{
    /*蓝色底层*/
    width: 100%;/*宽度*/
    /*height: 4.91rem;/!*高度*!/*/
    background-color: #469dff;/*背景色*/
    border-radius: 10px 10px 0 0;/*圆角*/
}

.code{
    /*二维码*/
    width: 3.52rem;/*宽度*/
    margin: .52rem 0  .25rem 0;/*上下边距*/
}

.now_an{
    /*长按关注*/
    color: white;/*字体颜色*/
    font-size: .3rem;/*字体大小*/
    padding-bottom: .32rem;/*下边距*/
}

.bai{
    /*白色底层*/
    width: 100%;/*宽度*/
    /*height: 1.53rem;/!*高度*!/*/
    background-color: white;/*背景色*/
    border-radius: 0 0 10px 10px;/*圆角*/
}

.cha{
    /*还差一步*/
    color: #313131;/*字体颜色*/
    font-size: .3rem;/*字体大小*/
    padding: .3rem 0 .2rem 0;/*内边距*/
}

.wcgz{
    /*关注我们完成激活*/
    color: #313131;/*字体颜色*/
    font-size: .3rem;/*字体大小*/
    padding-bottom: .45rem;/*内边距*/
}
/*关注激活 结束*/









